<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-248C37K8Y7"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-248C37K8Y7');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/style.js"></script>
  <link rel="shortcut icon" href="/img/favicon.ico">

  <link rel="stylesheet" th:href="@{/css/reserve/bath/bath.css}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/user.css}">
  <link rel="stylesheet" th:href="@{/css/dining/dining.css}">
  <title th:text=#{dining.1}>料理のご確認</title>
</head>

<body>
  <header>
    <th:block th:replace="common/header"></th:block>
  </header>

  <main>
    <section>
      <div class="hero_under">
        <img class="tb" src="/img/top_img-bath.jpg" alt="">
        <img class="sp" src="/img/top_img-bath-sp.jpg" alt="">
        <div class="txt">
          <h1 th:text="#{dining.1}">料理のご確認</h1>
        </div>
      </div>
      <!--hero_under-->
    </section>

    <ol class="breadcrumbs_comm">
      <li class="link_txt"><a th:href="'/' + ${#locale} + '/index.html'">TOP</a></li>
      <li th:text="#{dining.1}">料理のご確認</li>
    </ol><!--breadcrumbs_comm-->

    <!--/* メッセージエリア */-->
    <div th:replace="common/message_field"></div><br>

    <section>
      <div id="reservation_link" class="reservation_wrap" name="reservation_link">
        <div class="res_link guidance_2">
          <th:block th:if="${beforeReserveDate} != null">
            <a th:href="@{/__${#locale}__/dining?date=} + ${beforeReserveDate} + '#reservation_link'"
              class="res_link_date">
              ＜&nbsp;&nbsp;&nbsp;
            </a>
          </th:block>
          <span th:text="${reserveDispDate}"></span>
          <th:block th:if="${afterReserveDate} != null">
            <a th:href="@{/__${#locale}__/dining?date=} + ${afterReserveDate} + '#reservation_link'"
              class="res_link_date">
              &nbsp;&nbsp;&nbsp;＞
            </a>
          </th:block>
        </div>

        <div class="title_comm">
          <h2>
            <th:block th:text="#{dining.1}">料理のご確認</th:block>
          </h2>
        </div><!--title_comm-->

        <div th:if="${diningForm == null}" class="dining-layout-null" style="height: 300px;">
          <p style="font-size: 1.5rem;">料理のご予約は受付、または電話で承ります。</p>
        </div>

        <div th:if="${diningForm != null}" th:object="${diningForm}" class="dining-layout">
          <!-- 夕食情報 -->
          <div class="dining-info">
            <h3>夕食</h3>
            <dl>
              <dt>時間</dt>
              <dd th:text="*{dinnerTime}">18:00</dd>

              <dt>お部屋</dt>
              <dd th:text="*{dinnerPlace}">牡丹</dd>
            </dl>
            <dl>
                <dt>人数</dt>
                <dd>
                  <span th:text="*{customerNum}">1</span><span>人</span>
                </dd>
            </dl>
          </div>

          <!-- 朝食情報 -->
          <div class="dining-info">
            <h3>朝食</h3>
            <dl>
              <dt>時間</dt>
              <dd th:text="*{breakfastTime}">18:00</dd>

              <dt>お部屋</dt>
              <dd th:text="*{breakfastPlace}">牡丹</dd>
            </dl>

            <dl>
              <dt>料理</dt>
              <dd>
                <span>和</span>: <span th:text="*{breakfastJapanese}">1</span><br>
                <span>洋</span>: <span th:text="*{breakfastWestern}">2</span><br>
                <span>お弁当</span>: <span th:text="*{lunchNum}">1</span>
              </dd>
            </dl>
          </div>
        </div> <!--dining-layout-->

        <div style="font-size: 1.5rem;">
          <div class="link">
            <div th:if="${diningForm != null}" th:text="#{dining.2}">※朝食の変更は〇時までにお申し付けください</div>
          </div>
        </div>
        <!-- 内線案内 -->
        <div class="guidance_2">
          <p>
            <th:block th:text="#{bath.23}">ご質問ご用命等あれば遠慮なくフロントまでお申し付けください。</th:block>
          </p>
          <p><img class="eg_icon" src="/img/eg_icon.svg">
            <th:block th:text="#{bath.25}">内線番号：9</th:block>
          </p>
        </div><!--guidance_2-->
    </section>
  </main>

  <footer></footer>

  <script>
    $(function () {
      $('.reserve').click(function () {
        var timeCd = $(this).parents('tr').find('#time_cd').text(),
          timeNm = $(this).parents('tr').find('#time_nm').text(),
          reserveDate = $(this).data('reserve_date'),
          bathCd = $(this).data('bath'),
          bathNm = $(this).data('bath_name');
        $('#regist').children('#reserveDate').val(reserveDate);
        $('#regist').children('#timeCd').val(timeCd);
        $('#modal_lbl_time').text(timeNm);
        $('#regist').children('#bathCd').val(bathCd);
        $('#modal_lbl_bath').text(bathNm);
        $('#modal_wrap, #modal_item').fadeTo(200, 1);
      });
      $('#modal_wrap').click(function () {
        $('#modal_wrap, #modal_item').fadeTo(200, 0).hide();
      });
      $('#reserve_cancel').click(function () {
        // 確認ダイアログを出す
        var alertCancelMsg = $("#alert_cancel").val();
        if (confirm(alertCancelMsg)) {
          $('#cancel').submit();
        } else {
          return false;
        }
      });
      $('#confirm').click(function () {
        $('#regist').submit();
      });
    });
  </script>
  <input type="hidden" id="alert_cancel" th:value="#{alert.cancel}" />
</body>

</html>