
div.input_text {
	width: 100%;
	text-align: center;
	
	margin-top: 1rem;
	margin-bottom: 0rem;
}

.user_id_label {
	margin-left: 8px;
	
}
.user_id_label p {
	font-size: 24px;	
}

.user_id_label i {
	zoom: 1.5;
}