.time_item {
	max-width: 400px;
}

.sv_cart_wrap .txt_wrap .time_item p.to_time {
	font-size: 1.4rem;
}

.sv_cart_wrap .txt_wrap p.alert {
	font-size: 1.3rem;
	color: #D81B60;
	font-weight: bold;
}

#order_modal, #delete_modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	background: rgba(255,255,255, 1);
	border: solid thin rgba(153,153,153,1);
	padding: 50px;
	text-align: center;
	width: 80%;
	z-index: 2;
}
#order_modal .txt, #delete_modal .txt {
	margin: 0 0 30px;
}
#order_modal .txt p, #delete_modal .txt p {
	font-size: 1.5rem;
	margin: 0 auto 10px;
	width: 70%;
}
#order_modal .link, #delete_modal .link {
	margin: 0 auto;
	width: 300px;
}
#order_modal .link a, #delete_modal .link a {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	background: rgba(153,102,0,1);
	color: #FFF;
	padding: 15px 0;
}
#order_modal .link .arrow::after, #delete_modal .link .arrow::after {
	content:"";
	display: inline-block;
	width: 5px;
	height: 5px;
	margin: 0 0 3px 12px;
	border-bottom: 2px solid #FFF;
	border-right: 2px solid #FFF;
	transform: rotate(-45deg);
}


@media ( min-width : 600px) {
	.sv_cart_wrap .txt_wrap p.alert {
		font-size: 1.8rem;
		color: #D81B60;
	}
	.link_btn_container {
		text-align: center;
		max-width: 520px;
		margin-left: auto;
		margin-right: auto;
	}
	.sv_cart_wrap .txt_wrap .link a.link_btn {
		max-width: 260px;
	}
	.sv_cart_wrap .purchase_plan .putin a {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.sv_cart_wrap .purchase_plan .item .pic img {
		height: auto;
		width: 100%;
		max-width: 150px;
	}
	.sv_cart_wrap .purchase_confirmed .item .pic img {
    	height: auto;
    	width: 100%;
    	max-width: 150px;
	}
}

@media ( max-width : 599px) {
	.sv_cart_wrap .purchase_plan .item .pic img {
		height: auto;
		width: 150px;
	}
	.sv_cart_wrap .purchase_confirmed .item .pic img {
		height: auto;
		width: 150px;
	}

	/* 商品画像調整 */
	.sv_cart_wrap .purchase_confirmed .item {
		padding-left: 15px;
	}
	.sv_cart_wrap .purchase_confirmed .item .pic img {
		position: initial;
		transform:none;
	}
	.sv_cart_wrap .purchase_confirmed .item .pic::before {
		padding-top: 0;
	}
}