.sv_detail_wrap {
	max-width: 1000px;
	padding: 10px 0px;
	margin: 0 auto;
}
.pic {
	text-align: center;
}
.detail_img {
	max-width:500px;
	padding: 10px 0px;
}
.select_num {
	max-width: 100px;
}
select {
	text-indent: 10px;
}
/*
.putin {
	text-align:center;
	max-width: 600px;
	margin: 0 auto;
}
*/

.sv_detail_wrap .cart .putin button {
	display: block;
	position: relative;
	color: #FFF;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 15px 0px;
}
