<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>

<!--/* 共通ヘッダ */-->
<meta th:replace="common/meta_header">

<link rel="stylesheet" th:href="@{/css/omiyage/admin_omiyage_edit.css}">

<title>お土産マスタ編集 | 竹取亭フロント</title>
</head>

<body>

	<!--/* 管理者サイドメニュー */-->
	<div id="side_menu" th:replace="common/admin_side_menu"></div>

	<main>
	<div class="container">
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<div class="col s12">
						<a th:href="@{/admin}" class="breadcrumb">TOP</a>
						<a th:href="@{/admin/omiyage/master}" class="breadcrumb">お土産マスタ</a>
						<a class="breadcrumb">お土産マスタ編集</a>
					</div>
				</div>
			</nav>
		</div>

		<!--/* エラーメッセージエリア */-->
		<div id="error_field" th:replace="common/admin_message_field"></div>

		<div class="row">

			<form th:object="${form}" th:action="@{/admin/omiyage/master/regist}" method="post" enctype="multipart/form-data">

				<input type="hidden" th:field="*{omiyageId}"/>

				<div class="row">
					<h6>カテゴリ</h6>
					<div class="category">
						<select th:field="*{category}" multiple="multiple" th:sizes="${categorys.length}">
							<option th:each="c : ${categorys}" th:value="${c.label}" th:text="${c.code}">pulldown</option>
						 </select>
					</div>
				</div>
				<div class="row border_bottom_thin lang">
					<div class="input-field col">
						<input type="text" th:field="*{price}"/>
						<label for="price">価格(￥)</label>
					</div>
					<div class="input-field col">
						<input type="text" th:field="*{omomi}"/>
						<label for="omomi">表示優先度</label>
					</div>
					<div class="input-field col">
						<label class="del_check">
							<input type="checkbox" name="delFlg" th:checked="*{delFlg}"/>
							<span>無効にする</span>
						</label>
					</div>
				</div>
				<div class="row lang">
					<h6>商品名</h6>
					<div class="input-field col"><input type="text" th:field="*{ja.name}"/><label>日本語 jp</label></div>
					<div class="input-field col"><input type="text" th:field="*{en.name}"/><label>英語 en</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhCn.name}"/><label>簡体字 zh-cn</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhTw.name}"/><label>繁体字 zh-tw</label></div>
					<div class="input-field col"><input type="text" th:field="*{ko.name}"/><label>韓国語 ko</label></div>
				</div>
				<div class="row lang_textarea">
					<h6>説明</h6>
					<div class="input-field"><textarea class="materialize-textarea" th:field="*{ja.detail}"></textarea><label>日本語 jp</label></div>
					<div class="input-field"><textarea class="materialize-textarea" th:field="*{en.detail}"></textarea><label>英語 en</label></div>
					<div class="input-field"><textarea class="materialize-textarea" th:field="*{zhCn.detail}"></textarea><label>簡体字 zh-cn</label></div>
					<div class="input-field"><textarea class="materialize-textarea" th:field="*{zhTw.detail}"></textarea><label>繁体字 zh-tw</label></div>
					<div class="input-field"><textarea class="materialize-textarea" th:field="*{ko.detail}"></textarea><label>韓国語 ko</label></div>
				</div>
				<div class="row lang">
					<h6>内容量</h6>
					<div class="input-field col"><input type="text" th:field="*{ja.amountProduct}"/><label>日本語 jp</label></div>
					<div class="input-field col"><input type="text" th:field="*{en.amountProduct}"/><label>英語 en</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhCn.amountProduct}"/><label>簡体字 zh-cn</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhTw.amountProduct}"/><label>繁体字 zh-tw</label></div>
					<div class="input-field col"><input type="text" th:field="*{ko.amountProduct}"/><label>韓国語 ko</label></div>
				</div>
				<div class="row lang">
					<h6>原材料</h6>
					<div class="input-field col"><input type="text" th:field="*{ja.rawMaterials}"/><label>日本語 jp</label></div>
					<div class="input-field col"><input type="text" th:field="*{en.rawMaterials}"/><label>英語 en</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhCn.rawMaterials}"/><label>簡体字 zh-cn</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhTw.rawMaterials}"/><label>繁体字 zh-tw</label></div>
					<div class="input-field col"><input type="text" th:field="*{ko.rawMaterials}"/><label>韓国語 ko</label></div>
				</div>
				<div class="row lang">
					<h6>アレルギー</h6>
					<div class="input-field col"><input type="text" th:field="*{ja.allergie}"/><label>日本語 jp</label></div>
					<div class="input-field col"><input type="text" th:field="*{en.allergie}"/><label>英語 en</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhCn.allergie}"/><label>簡体字 zh-cn</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhTw.allergie}"/><label>繁体字 zh-tw</label></div>
					<div class="input-field col"><input type="text" th:field="*{ko.allergie}"/><label>韓国語 ko</label></div>
				</div>
				<div class="row lang">
					<h6>検索タグ</h6>
					<div class="input-field col"><input type="text" th:field="*{ja.tags}"/><label>日本語 jp</label></div>
					<div class="input-field col"><input type="text" th:field="*{en.tags}"/><label>英語 en</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhCn.tags}"/><label>簡体字 zh-cn</label></div>
					<div class="input-field col"><input type="text" th:field="*{zhTw.tags}"/><label>繁体字 zh-tw</label></div>
					<div class="input-field col"><input type="text" th:field="*{ko.tags}"/><label>韓国語 ko</label></div>
				</div>

				<div class="row center">
					<button class="btn waves-effect waves-light" type="submit">
						<i class="material-icons left">receipt</i> 登録
					</button>
				</div>

			</form>
		</div>
	</div>
	</main>
</body>
</html>



