<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>

<!--/* 共通ヘッダ */-->
<meta th:replace="common/meta_header">

<link rel="stylesheet" th:href="@{/css/omiyage/admin_omiyage.css}">
<script th:src="@{/js/omiyage/admin_omiyage.js}"></script>

<title>お土産注文 | 竹取亭フロント</title>
</head>

<body>

	<!--/* 管理者サイドメニュー */-->
	<div id="side_menu" th:replace="common/admin_side_menu"></div>

	<main>
		<div class="container">

			<!--/* ナビゲーションバー */-->
			<div class="row">
				<nav>
					<div class="nav-wrapper">
						<div class="col s12">
							<a th:href="@{/admin}" class="breadcrumb">TOP</a>
							<a href="#!" class="breadcrumb">お土産注文</a>
						</div>
					</div>
				</nav>
			</div>

			<!--/* エラーメッセージエリア */-->
			<div id="error_field" th:replace="common/admin_message_field"></div>

			<div class="row border_bottom_thin">
				<p>お土産の納品書と注文チェックリストをダウンロードします。チェックリストは注文日時を範囲指定でダウンロードも可能です。</p>
				<form th:object="${form}" th:action="@{/admin/omiyage/order/pdf/download}" method="post">
					<div class="col s12">
						<div class="row btn_space">
							<div class="input-field col">
								<button class="btn waves-effect waves-light blue btn_invoice"><i class="material-icons left">get_app</i>納品書ダウンロード</button>
								<button class="btn waves-effect waves-light blue btn_check_list"><i class="material-icons left">get_app</i>チェックリストダウンロード</button>
								<input type="hidden" th:field="${form.pdfType}" />
							</div>
							<div class="input-field col check-field">
								<p>
							      <label>
							        <input th:if="${selectRangeCheck} == null" type="checkbox" class="filled-in" id="select_range_check" name="select_range_check" />
							        <input th:if="${selectRangeCheck} != null" type="checkbox" class="filled-in" id="select_range_check" name="select_range_check" checked="checked" />
							        <span>範囲指定する</span>
							      </label>
							    </p>
							</div>
						</div>
						<div class="row select_range_space">
							<div id="select_range">
								<div class="input-field col">
									<label for="from_date">注文日from</label>
									<input type="text" class="datepicker" th:field="${form.fromDate}" />
								</div>
								<div class="input-field col">
									<label for="from_time">注文時間from</label>
									<input type="text" class="timepicker" th:field="${form.fromTime}" />
								</div>
								<div class="input-field col">
									<label for="from_date">注文日to</label>
									<input type="text" class="datepicker" th:field="${form.toDate}" />
								</div>
								<div class="input-field col">
									<label for="from_time">注文時間to</label>
									<input type="text" class="timepicker" th:field="${form.toTime}" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="row border_bottom_thin">
				<p>客室ごとにお土産の注文を確認・追加します。各客室のボタンを押してください。</p>
				<div class="row">
					<div class="col s3" th:each="room : ${roomList}">
						<a class="btn-large waves-effect waves-light btn_room" th:href="|@{/admin/omiyage/}${room.roomNo}|"><i class="material-icons left">forward</i><span th:text="|${room.roomNo}号室|">201号室</span></a>
					</div>
				</div>
			</div>
			<div class="row omiyage_container">
				<h5>お土産注文</h5>
				<div class="col s12" id="omiyageTable"></div>
			</div>
		</div>
	</main>
</body>
</html>
