<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>

<!--/* 共通ヘッダ */-->
<meta th:replace="common/meta_header">

<link rel="stylesheet" th:href="@{/css/omiyage/admin_omiyage_master.css}">

<title>お土産マスタ | 竹取亭フロント</title>
</head>

<body>

	<!--/* 管理者サイドメニュー */-->
	<div id="side_menu" th:replace="common/admin_side_menu"></div>

	<main>
	<div class="container">

		<!--/* ナビゲーションバー */-->
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<div class="col s12">
						<a th:href="@{/admin}" class="breadcrumb">TOP</a>
						<a class="breadcrumb">お土産マスタ</a>
					</div>
				</div>
			</nav>
		</div>

		<!--/* エラーメッセージエリア */-->
		<div id="error_field" th:replace="common/admin_message_field"></div>

		<div class="row">

			<div class="row">
				<a th:href="@{/admin/omiyage/master/edit}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>追加</a>
			</div>

			<div class="row border_bottom_thin"></div>


			<form th:object="${form}" th:action="@{/admin/omiyage/master}" method="post">
				<div class="row search_input">
					<div class="input-field col freeword">
						<input type="text" th:field="*{freeword}"/>
						<label for="freeword">日本語で カテゴリ 商品名 詳細 タグ...</label>
					</div>
					<div class="input-field col">
						<label class="output_check">
							<input type="checkbox" name="del" th:checked="*{del}"/>
							<span>無効なお土産も表示</span>
						</label>
					</div>
				</div>
				<div class="row center">
					<button class="btn waves-effect waves-light" type="submit" name="search">
						<i class="material-icons left">search</i> 検索
					</button>
				</div>
			</form>

			<div class="row">
				<table>
					<thead>
						<tr>
							<th>優先度</th>
							<th>画像</th>
							<th>商品名</th>
							<th>価格</th>
							<th>カテゴリ</th>
							<th>無効</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="omiyage : ${list}" th:class="(${omiyage.delFlg}) ? del_omiyage : omiyage">
							<td th:text="${omiyage.sortOmomi}" class="omomi"></td>
							<td class="image">
								<img th:if="*{omiyage.imageExt}"     th:src="'/img/omiyage/' + *{omiyage.omiyageId} + '.' + *{omiyage.imageExt}" >
								<img th:unless="*{omiyage.imageExt}" th:src="${@environment.getProperty('omiyage.no-image')}">
							</td>
							<td th:text="${omiyage.name}" class="name"></td>
							<td th:text="${#numbers.formatInteger(omiyage.price, 1, 'COMMA')} + ' 円'" class="price"></td>
							<td th:text="${omiyage.category}" class="category"></td>
							<td class="del"><th:block th:if="${omiyage.delFlg}">無効</th:block></td>
							<td>
								<a th:href="@{/admin/omiyage/master/image/{id}(id = ${omiyage.omiyageId})}" class="waves-effect waves-light btn">
									<i class="material-icons left">add_photo_alternate</i>画像
								</a>
								<a th:href="@{/admin/omiyage/master/edit/{id}(id = ${omiyage.omiyageId})}" class="waves-effect waves-light btn">
									<i class="material-icons left">edit</i>編集
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>

	</main>
</body>
</html>