<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-248C37K8Y7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-248C37K8Y7');
</script>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css">
<meta name="keywords" content="">
<meta name="description" content="">

<link rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/style.js"></script>
<link rel="shortcut icon" href="/img/favicon.ico">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/omiyage/souvenir_detail.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
<script type="text/javascript" th:src="@{/js/omiyage/souvenir_detail.js}"></script>
<title th:text=#{cart.1}>お土産詳細</title>

<body>
<header>
	<th:block th:replace="common/header"></th:block>
    <div class="sv_cart_sp">
    <a th:href="@{/__${#locale}__/sv/cart}"><img src="/img/cart-sp.svg" alt=""></a>
    </div><!--sv_cart_sp-->
</header>
<section>
<div class="hero_under">
<img class="tb" src="/img/top_img.jpg" alt="">
<img class="sp" src="/img/top_img-sp.jpg" alt="">
    <div class="txt">
        <h1 th:text=#{cart.1}>お土産詳細</h1>
    </div>
</div><!--hero_under-->
</section>

<ol class="breadcrumbs_comm">
    <li class="link_txt"><a th:href="|/${#locale}/index.html|">TOP</a></li>
    <li class="link_txt"><a th:href="@{/__${#locale}__/sv}" th:text=#{top.7}>お土産のご購入</a></li>
    <li th:text=#{cart.1}>お土産詳細</li>
</ol><!--breadcrumbs_comm-->

<!--/* メッセージエリア */-->
<p th:replace="common/message_field"></p>

<section>
<div class="sv_detail_wrap">

    <div class="title">
    <h2 th:text="${omiyage.getName()}">商品タイトル</h2>
    </div><!--title-->
    <div class="pic">
    <img class="detail_img" th:src="|/img/omiyage/${omiyage.getOmiyageId()}.${omiyage.getImageExt()}|" onerror="this.src='/img/omiyage/noimg.png';">
    </div><!--pic-->
    <div class="txt">
    <p th:text="${omiyage.getDetail()}">商品説明文</p>
    </div><!--txt-->
    <div class="box">
        <div class="item" th:if="${!#strings.isEmpty(omiyage.getAmountProduct())}">
            <div class="txt_1" th:text=#{omiyage.11}><p>内容量</p></div>
            <div class="txt_2" th:text="${omiyage.getAmountProduct()}"><p>内容</p></div>
        </div>
        <div class="item" th:if="${!#strings.isEmpty(omiyage.getRawMaterials())}">
            <div class="txt_1" th:text=#{omiyage.12}><p>原材料名</p></div>
            <div class="txt_2" th:text="${omiyage.getRawMaterials()}"><p>内容</p></div>
        </div>
        <div class="item" th:if="${!#strings.isEmpty(omiyage.getAllergie())}">
            <div class="txt_1" th:text=#{omiyage.13}><p>アレルギー</p></div>
            <div class="txt_2" th:text="${omiyage.getAllergie()}"><p>内容</p></div>
        </div>
    </div><!--box-->
    <form id="add_cart_form" th:action="@{/__${#locale}__/sv/add/cart}" method="post">
	    <div class="cart">
	    	<div class="price">
	            <p class="txt_1"><th:block th:text="#{cart.2}">商品価格</th:block><th:block th:text="#{cart.18}">(税込)</th:block></p>
	            <p class="txt_2">&yen;&nbsp;<span th:text="${#numbers.formatInteger(omiyage.getPrice(), 3, 'COMMA')}">000,000</span></p>
	        </div><!--price-->
	        <div class="quantity">
	            <p class="txt_1" th:text="#{cart.3}">数量</p>
	            <select class="txt_2 select_num" name="num">
		            <option value="">--</option>
		            <option th:each="i : ${#numbers.sequence(1, 20)}" th:value="${i}" th:text="${i}">
	            </select>
	        </div><!--quantity-->
	        <div class="putin">
	            <a href="" id="add_cart_btn"><img src="/img/cart.svg"><th:block th:text="#{cart.4}">カートに入れる</th:block></a>
	        </div><!--putin-->
	    </div><!--cart-->
	    <input type="hidden" name="omiyageId" th:value="${omiyage.getOmiyageId()}" >
    </form>
</div><!--sv_detail_wrap-->
</section>

<footer>
</footer>

<!-- pagetop -->
<div id="scroll">
    <a href="#" class="scroll"><img src="/img/page_top.svg"><span class="tb" th:text="#{top.13}">上へ</span></a>
</div>

</body>
</html>