.btn_room {
	margin-top: 10px;
	margin-bottom: 10px;
}
.btn_check_list {
	margin-right: 30px;
}
.btn_invoice {
	margin-right: 30px;
}
.btn_space {
	margin: 0;
}
.check-field {
	margin-bottom: 0;
}
.select_range_space {
	margin: 0;
}
#from_date, #to_date {
	width: 120px;
}
#from_time, #to_time {
	width: 100px;
}
.room {
	width: 150px;
}
.omiyage_name {
	width: 400px;
}
.price {
	text-align:right;
	width: 150px;
}
.num {
	text-align:right;
	width: 100px;
}