<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/materialize.css}">
<link rel="stylesheet" th:href="@{/css/sweetalert2.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/sweetalert.js}"></script>
<script th:src="@{/js/select.js}"></script>
<script th:src="@{/js/siteCommon.js}"></script>

<link rel="stylesheet" th:href="@{/css/layout.css}">

<script>
$(document).ready(function(){
    $('select').formSelect();
});
</script>