/*! 下線 */
.border_bottom_thin {
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

h3, h4, h5 {
	color: #ee6e73;
}
h6 {
	font-size: 14px;
	color: #ee736e;
}

.sidenav {
	width: 280px;
}

.sidenav li>h3, li>h4, li>h5 {
	width:175px;
	margin-left: auto;
	margin-right: auto;
}

.sidenav a {
	color: #ee6e73;
}


div.nav-wrapper div.col {

}

main {
	padding-left: 300px;
}

.container {
    width: 80% !important;
}

.error {
	width: 80%;
	margin: auto;
	padding: 10px 20px;
	text-align: left;
	border:  1px solid rgba(200, 50, 50, 0.5);
	color: rgba(200, 0, 0, 0.8);
}

span.error_input {
	text-align: left;
	color: rgba(200, 0, 0, 0.8) !important;
	font-size: 14px !important;
}

.sub_title {
	color: #00796b;
	font-weight: bold;
}

.error_global {
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 15px;
	text-align: left;
	border:  1px solid rgba(200, 50, 50, 0.5);
	color: rgba(200, 0, 0, 0.8);
	font-size: 16px bold !important;
	background-color: #ffebeb;
}

.message_global {
	width: 100%;
	margin: 10px 0px 10px 0px;
	padding: 15px;
	text-align: left;
	border:  1px solid rgba(50, 50, 200, 0.5);
	color: rgba(0, 0, 200, 0.8);
	font-size: 16px bold !important;
	background-color: #f7f7ff;
}

.strongBold {
    background-color: #d6eaf8;
}
.sidenav li.strongBold > a {
    font-weight: bold;
}