#reserveDate {
	color: #666;
}
.reserve {
	width: 1000px;
	table-layout: fixed;
}
.reserve th,
.reserve td {
	width: 200px;
	text-align: center;
}

.over_time {
	background-color: #eee;
}

.update_date {
	text-align: right;
}
.omiyage_container {
	margin-top: 50px;
}
.omiyage {
	width: 1000px;
	table-layout: fixed;
}
#omiyage {
	width: 500px;
}
#num {
	width: 100px;
}
.room {
	width: 150px;
}
.omiyage_name {
	width: 400px;
}
.price {
	text-align:right;
	width: 150px;
}
.num {
	text-align:right;
	width: 100px;
}
